* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-bar {
  background-color: black;
  width: 100%;
}

.loading-bar__item {
  width: 0%;
  height: 4px;
  background: red;
}

button {
  width: 100px;
  background-color: grey;
  color: black;
  border-radius: 3px;
  height: 50px;
}

.button__items {
  padding: 1rem;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.btn:hover {
  opacity: 0.8;
}
